html,
body {
  box-sizing: border-box;
}
html {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: block;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
body {
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $color-base-day;
}
.main {
  flex: 1 0 auto;
  overflow: hidden;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 570px;
  margin: 0 auto;
  padding: 70px 15px 55px;
  // z-index: 1;
}
.hide {
  display: none;
}
