$color-base-day: #494c6b;
$color-base-night: #c8cbe7;
$color-category-day: #9495a5;
$color-category-night: #5b5e7e;
$color-wight: #ffffff;

$color-active: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);