@import 'vars';
@import 'reset';
@import 'global';

.dark {
  background: #171823;
}
.dark body {
  color: $color-base-night;
}
.header {
  background: url('../images/day-fon.png'),
    linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  width: 100vw;
  height: 300px;
}
.dark .header {
  background: url('../images/night-fon.png') no-repeat,
    linear-gradient(225deg, #5596ff 0%, #ac2deb 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-fon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #ffffff;
}
.header-icon {
  width: 26px;
  height: 26px;
  padding: 5px;
  content: '';
  background: url('../../assets/images/moon.svg');
  // color: #ffffff;
}
.dark .header-icon {
  background: url('../images/sun.svg');
}
.toDo-new {
  position: relative;
  margin-bottom: 24px;
}
.toDo__add {
  content: '';
  border: 1px solid #e3e4f1;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 24px;
  top: 20px;
  color: $color-category-day;
  &:active {
    color: #393a4b;
  }
}
.dark .toDo__add {
  border: 1px solid #393a4b;
}
.toDo__task_complete .toDo__task-text {
  text-decoration: line-through;
  opacity: 0.5;
}
.dark .toDo__task_complete .toDo__task-text {
  color: #4d5067;
  opacity: 1;
}
.toDo-new__input {
  padding: 23px 72px;
  background: $color-wight;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  border: 1px solid #ffffff;
  width: 100%;
}
.dark .toDo-new__input {
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
}
.toDo__list > *:not(:last-child) {
  margin-bottom: 8px;
}
.toDo-tasks {
  padding: 20px 0 16px;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
}
.dark .toDo-tasks {
  background: #25273d;
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
}
.toDo__task {
  display: flex;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 1px solid #e3e4f1;
  position: relative;
}
.dark .toDo__task {
  border-bottom: 1px solid #393a4b;
}

.toDo__task:hover .toDo__task-del__img {
  display: block;
}
.toDo__checkbox input {
  display: none;
}
.toDo__checkbox input:checked + div {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  border: none;
  transition: all 0.4s;
  .toDo__checkbox-div__innner {
    display: none;
  }
}
.toDo__checkbox input:checked + div:hover {
  background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
  border: none;
  .toDo__checkbox-div__innner {
    opacity: 0;
  }
}
.toDo__checkbox input:checked + div::after {
  display: block;
}
.toDo__checkbox .toDo__checkbox-div {
  height: 24px;
  width: 24px;
  border: 1px solid #e3e4f1;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 24px;
  color: $color-wight;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  z-index: 1;

  &:hover {
    .toDo__checkbox-div__innner {
      display: block;
    }
    background: $color-active;
    border: 1px solid transparent;
  }
}
.dark .toDo__checkbox-div {
  border: 1px solid #393a4b;
}
.toDo__checkbox-div__innner {
  content: '';
  display: none;
  height: 22px;
  width: 22px;
  background: $color-wight;
  border: none;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.4s;
}
.dark .toDo__checkbox-div__innner {
  background: #25273d;
}
.toDo__checkbox div::after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/checkmark.svg') center no-repeat;
}
.toDo__task-del {
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  width: 20px;
  height: 18px;
}
.toDo__task-del__img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.toDo__checkbox {
  display: inline-block;
}

.toDo__task-text {
  max-width: 470px;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.toDo-tasks__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 4px;
}
.toDo-count {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: $color-category-day;
}
.dark .toDo-count {
  color: #5b5e7e;
}
.toDo-clear__btn {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: $color-category-day;
  transition: all 0.7s;
  padding: 5px;
  &:hover {
    color: #494c6b;
  }
}
.dark .toDo-clear__btn {
  color: #5b5e7e;
  &:hover {
    color: #e3e4f1;
  }
}
.toDo-folders {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: $color-category-day;
}
.toDo-folders-all {
  transition: all 0.7s;
  padding: 5px;
  &:hover {
    color: #494c6b;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.dark .all,
.all {
  color: #3a7cfd;
}
.dark .toDo-folders-all:not(:first-child) {
  color: #5b5e7e;
  &:hover {
    color: #e3e4f1;
  }
}

.toDo-copyright {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.194444px;
  color: #9495a5;
  cursor: default;
}
.dark .toDo-copyright {
  color: #5b5e7e;
}
.hide {
  // display: block;
  height: 60px;
  background: #fff;
  box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  border: 1px solid #fff;
  width: 100%;
  margin: 16px 0;
}

@import './components/media';
