@media (max-width: 765px) {
  .card-active {
    margin-bottom: 145px;
  }
}
@media (max-width: 630px) {
  .setting-header-head {
    font-size: 20px;
    line-height: 25px;
  }
  .menu-head {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 4.23077px;
  }
  .setting-menu {
    padding: 24px;
  }
  .minutes-choosing {
    flex-direction: column;
    gap: 8px;
  }
  .menu-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-val {
    padding: 15px 15px 11px;
  }
  .btns {
    top: 12px;
  }
  .menu-font {
    flex-direction: column;
  }
  .menu-font__head {
    margin-bottom: 18px;
  }
  .menu-color {
    flex-direction: column;
    margin-bottom: 35px;
  }
  .menu-color__head {
    margin-bottom: 18px;
  }
  .setting__apply {
    left: 140px;
  }
  .setting__btn-apply {
    padding: 17px 46px 20px;
  }
}
@media (max-width: 500px) {
  .active-wrapper-one {
    width: 300px;
    height: 300px;
  }
  .active-wrapper-second {
    width: 267.8px;
    height: 267.8px;
  }
  .progress-bar {
    width: 248.05px;
    height: 248.05px;
  }
  .progress-bar-inner {
    width: 238.05px;
    height: 238.05px;
  }
  .progress-value {
    font-size: 80px;
    line-height: 99px;
    letter-spacing: -4px;
  }

  .card-header {
    .card-header-buttons {
      gap: 5;
    }
  }
  .btn {
    padding: 5px;
  }
  .btn.active {
    padding: 18px 23px;
  }
  .header__btn {
    font-size: 12px;
    line-height: 18px;
  }
  .btn-remote {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 13.125px;
  }
  .setting__apply {
    left: 80px;
  }
}
@media (max-width: 374px) {
  .main {
    padding: 30px 5px 40px;
  }
  .progress-value {
    font-size: 80px;
  }
}
