@media (max-width: 510px) {
  .todo-section {
    position: absolute;
    top: 90px;
  }
  .toDo__task-del {
    width: 12px;
    height: 12px;
  }
  .toDo__task-text {
    max-width: 350px;
  }
  .toDo__checkbox .toDo__checkbox-div {
    height: 20px;
    width: 20px;
  }
  .toDo__checkbox-div__innner {
    height: 18.5px;
    width: 18.5px;
  }
  .hide {
    display: flex;
    justify-content: center;

    .toDo-folders-all {
      font-size: 14px;
      line-height: 14px;
      margin-top: 8px;
    }
  }
}
@media (max-width: 400px) {
  body {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;
  }
  .toDo__list > :not(:last-child) {
    margin-bottom: 0px;
  }
  .header-title {
    font-size: 28px;
    line-height: 23px;
    letter-spacing: 10px;
  }
  .toDo__checkbox .toDo__checkbox-div {
    margin-right: 12px;
  }
  .toDo__task {
    padding: 20px 20px;
    font-size: 12px;
  }
  .toDo-tasks {
    padding: 0;
    padding-bottom: 10px;
  }
}
